.barra {
    background-color: transparent !important;
     
}
body {
    background-color: black;
    color: #ffffff;
}
.hr{
    color: cornflowerblue;
}
.card-img-top{
    display: inline-block;
    height: 40%;
    text-align: center;
}