.barra {
    background-color: transparent !important;
     
}
body {
    background-color: black;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.hr{
    color: cornflowerblue;
}
.card-img-top{
    display: inline-block;
    height: 40%;
    text-align: center;
}
.iconos {
    color: white;
    margin-right: 20px;
}
nav ul li a{
    color:#FFFFFF !important;
}
.logo-nav{
    width: 30px;
    height: 30px;
}
.card {
    border-color: gray;
    border-width: 2px;
}